body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #333;
}

/* Contenedor principal */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/* Personajes en List */
.character-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.character-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
}

.character-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.character-card a {
  text-decoration: none;
  color: #0073e6;
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

.character-card p {
  color: #777;
}

/* Formulario de búsqueda  */
.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-form input {
  padding: 10px;
  font-size: 16px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.search-form button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #0073e6;
  background-color: #0073e6;
  color: white;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #005bb5;
}

/* Filtro  */
.filter-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-container input,
.filter-container select {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* Detalle del personaje */
.character-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 0 auto;
}

.character-details img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.character-details p {
  font-size: 18px;
  color: #555;
  margin: 10px 0;
}

.character-details h2 {
  color: #0073e6;
}

